#stage-container {
    position: relative;
  }
  
  #video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  #konva-stage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }